<!doctype html>
<html
  lang="ja"
  layout:decorate="~{layout}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <link th:href="@{/css/reference.css}" rel="stylesheet" />
  </head>

  <body layout:fragment="content">
    <div class="search-info-wrapper">
      <div class="search-box">
        <form
          th:action="@{/attendances/search}"
          th:object="${searchForm}"
          method="get"
        >
          <div class="search-title">検索条件</div>
          <div class="search-grid">
            <div class="search-item">
              <label>日付</label>
              <input type="date" th:field="*{from}" />
              <input type="date" th:field="*{to}" />
            </div>
            <div class="search-item">
              <label>路線</label>
              <input type="text" />
            </div>
          </div>
          <div class="search-grid">
            <div class="search-item">
              <label>ユニット</label>
              <input type="text" />
            </div>
            <div class="search-item">
              <label>チーム</label>
              <input type="text" />
            </div>
            <div class="search-item">
              <label>氏名</label>
              <input type="text" />
            </div>
          </div>
          <div class="search-actions">
            <button class="btn-search">検索</button>
          </div>
        </form>
      </div>

      <div class="info-cards">
        <div class="card">
          <div class="card-title">遅刻者数</div>
          <div class="card-value">12名</div>
        </div>
        <div class="card">
          <div class="card-title">同一路線</div>
          <div class="card-value warning">5名</div>
        </div>
      </div>
    </div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>氏名</th>
            <th>路線</th>
            <th>遅刻時間</th>
            <th>電車遅延時間</th>
            <th>理由</th>
            <th>日付</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="attendance : ${attendances}">
            <tr>
              <td
                th:text="${attendance.employee.empLname} + ${attendance.employee.empFname}"
              ></td>
              <td th:text="${attendance.route.routeName}">中央線</td>
              <td th:text="${attendance.lateTime}"></td>
              <td th:text="${attendance.trainDelayTime}"></td>
              <td th:text="${attendance.lateReasonLabel}"></td>
              <td
                th:text="${#temporals.format(attendance.date, 'yyyy年MM月dd日')}"
              ></td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </div>

    <div class="export-buttons">
      <button class="btn-csv">CSV出力</button>
      <button class="btn-excel">Excel出力</button>
    </div>
  </body>
</html>
